@import "../utilities/mixins";
@import "../utilities/variables";
@import "../utilities/mediaqueries";
@import "../utilities/functions";

.nav {
  @include flex-center;
  height: 100px;
  background-color: #151d28db;
  position: fixed;
  width: 100%;
  color: $text-color1;
  justify-content: space-between;
  padding: 0 2rem;
  font-weight: 500;
  z-index: 10;

  ul {
    @include flex-center;
    @include no-ul-style;
    font-size: 16px;
    li {
      padding: 0.5rem;
      @extend %cursor-pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }

  img {
    width: 12.5rem;
    margin-right: 150px;
  }

  button {
    @include button;
  }
}

.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 100px;
  @include background-image("..//..//assets//images//hero_bg.jpg");
  @include flex-center;
  flex-direction: column;
  color: $text-color1;
  row-gap: 1.8rem;
  text-align: text-align(center);

  h1 {
    font-size: 3rem;
  }

  p {
    display: inline;
    font-size: 1.3rem;
  }

  button {
    @include button;
  }
}

.functionality-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: text-align(center);
  padding: 5rem 0 1.5rem 0;
  font-weight: 500;
  @include background-image("..//..//assets//images//section2_bg.jpg");

  h1,
  h3 {
    padding-bottom: 2rem;
  }

  h3 {
    font-weight: 500;
  }

  .functionality-cards {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    flex-direction: row;
    padding: 3rem;
    text-align: start;
    @extend %cursor-pointer;

    div {
      background-color: $text-color1;
      padding: 1.2rem;
      margin-bottom: 2.5rem;
      border-radius: 1.2rem;
      box-shadow: 5px 5px 5px #00000021;

      &:hover {
        background-color: change-color($primary-color);
        color: change-color($text-color1);
      }

      svg {
        background-color: $primary-color;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
      }

      h2,
      span {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.gallery {
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: text-align(center);
  padding: 5rem 0 1.5rem 0;
  font-weight: 500;

  h1,
  h3 {
    padding-bottom: 2rem;
  }

  h3 {
    font-weight: 500;
  }

  .gallery-grid {
    display: grid;
    padding: 4rem 6rem;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);

    img {
      width: 100%;
      height: 300px;
    }
  }
}

.subscribe {
  width: 100%;
  min-height: 60vh;
  position: relative;
  text-align: text-align(center);
  padding: 5rem 0 1.5rem 0;
  font-weight: 500;
  @include background-image("..//..//assets//images//section2_bg.jpg");

  h1,
  h3 {
    padding-bottom: 2rem;
  }

  h3 {
    font-weight: 500;
  }

  &-form {
    input {
      margin-bottom: 15px;
      font-size: large;
      color: gray;
      outline: none;
      border-radius: 0.2rem;
      width: 310px;
      height: 50px;
      padding: 1rem;
      border: 1px solid rgba(6, 10, 16, 0.1);
      margin-right: 15px;
    }

    button {
      @include button;
    }
  }
}

.footer {
  width: 100%;
  min-height: 60vh;
  position: relative;
  text-align: text-align(center);
  padding: 5rem 0 1.5rem 0;
  font-weight: 500;
  background-color: #060a10;
  color: $text-color1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @extend %cursor-pointer;
  row-gap: 16px;

  a,
  ul {
    @include no-anchor-style;
    @include no-ul-style;
  }

  div {
    color: #b4b5b7;
  }

  div:first-child > img {
    margin-bottom: 1.5rem;
  }

  div > ul *:hover {
    color: change-color($primary-color);
  }
}

.footer-title {
  color: $text-color1;
  margin-bottom: 1.5rem;
}
